body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 0;
}

.header, .footer {
    background-color: #1f2937;
    color: #f9faf8;
}
/*First section header*/
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 150px 100px 150px;
    margin: 0;
    gap: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}


a {
    text-decoration: none;
    color: #e5e7eb;
    margin: 0px;
    padding: 0px;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 100px 250px 100px 250px;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    text-align: left;
}

.header.container {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
}

.headline {
    font-size: 48px;
    font-weight: bolder;
    max-width: 500px;
}

.text {
    font-size: 20px;
    font-weight: normal;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 0px;
}

.image {
    display: flex;
    width: 500px;
    height: 250px;
    border: none;
    border-radius:  0%;
}

/*Cards section*/
.cards {
    display: flex;
    justify-content: center;
    padding: 20px 150px 50px 150px;
    gap: 20px;
}

.title-cards {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    padding: 20px 100px 20px 100px;
}

img {
    font-size: 15px;
    width: 130px;
    height: 130px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 10%;    
}

.subtitle {
    width: 130px;
}

/*Quote section*/
.author {
    font-weight: bold;
    font-style: normal;
    text-align: right;
    margin-right: 50px;
}

/*CTA Section*/
.cta-section {
    display: flex;
    justify-content: space-between;
    margin: 70px 150px 70px 150px;
    padding: 30px 110px 30px 110px;
    background-color: #3882f6;
    text-align: left;
    color: #f9faf8;
    font-weight: bold;
    border-radius: 15px;
}

.cta-title {
    font-size: 20px;
}

.cta-text {
    font-weight: normal;
    font-size: 16px;
}

.cta-signup {
    border: solid;
    border-color: #f9faf8;
}